
{# firstname, lastname and profession are set in cme.theme #}

{% set profession = 'physician' %}

{% if profession == 'dietitian' or profession == 'nurse' or profession == 'coach' %}
	{% set generic_certificate = false %}
{% else %}
	{% set generic_certificate = true %}
{% endif %}

{% set credits = referencing_entity.field_credits.0.value %}

 {% for key,value in professiontax %}
 <p>Key : {{ key }} Value : {{ value }}</p>
 {% endfor %}


<div style="text-align: center;">
{% if generic_certificate %}
<img alt="GWU logo" src="https://nutritioncme.org/sites/default/files/pictures/gwu_logo.gif">
{% else %}
<img alt="PCRM logo" src="https://nutritioncme.org/sites/default/files/pictures/pcrm_logo.png">
{% endif %}
<br><br>
<h2 style="color:#005978;">Certificate of Completion</h2> 
This is to certify that
<h3 style="color:#005978;">{{ firstname }} {{ lastname }}
{#
{{ drupal_view('certificate_name_field', 'user_full_name') }}
#}
{#
{{ awarded_to }}
#}
</h3> 
has participated in
<h3 style="color:#005978;">
{{ referencing_entity.label.0.value }}
</h3>
<i>{{ completed_on }}</i>
<br><br>
{% if profession == 'nurse' %}
And has earned the following<h3 style="color:#005978;">CE Credits: {{ credits }} hour</h3>
{% elseif profession == 'dietitian' %}
And has earned the following<h3 style="color:#005978;">CPEU Credits: {{ credits }} hour</h3><h3 style="color:#005978;">CPE Level: [node:field-cpe-level]</h3>
{% elseif profession == 'coach' %}
And has earned the following
<h3 style="color:#005978;">{{ credits }} continuing education units</h3>
{% else %}
The time of participation was<h3 style="color:#768644;">{{ credits }} hour</h3>
{% endif %}
</div>

{# conditional display for professions #}
{% if profession == 'dietitian' %}
<p>This continuing education opportunity has been approved by the Commission on Dietetic Registration (CDR).</p><p>Registered dietitians (RDs) and dietetic technicians, registered (DTRs) will receive [node:course:credits] Continuing Professional Education Unit (CPEU) for completion of this program.</p><p><img alt="Susan Levin signature" src="https://nutritioncme.org/sites/default/files/pictures/SusanLevinSig.jpg"><br><strong>Susan Levin, MS, RD, CSSD,</strong> Director of Nutrition Education, Physicians Committee for Responsible Medicine</p>

{% elseif profession == 'nurse' %}
<p>This continuing nursing education activity was approved by the Virginia Nurses Association, an accredited approver by the American Nurses Credentialing Center's Commission on Accreditation.</p><p><img alt="Susan Levin signature" src="https://nutritioncme.org/sites/default/files/pictures/CarolineTrappSig.jpg"></p><p><strong>Caroline Trapp, DNP, ANP-BC, CDCES, DIPACLM, FAANP</strong>, Physicians Committee for Responsible Medicine<br>&nbsp;</p>

{% elseif profession == 'coach' %}
<p><strong>ACCREDITATION:</strong> The activity is approved by the National Board for Health and Wellness Coaching (NBHWC) for {{ credits }} continuing education units (CEP # 100146).</p>
<p>Physicians Committee for Responsible Medicine<br>5100 Wisconsin Ave. NW, Suite 400<br>Washington, D.C. 20016<br>pcrm.org</p>

{% else %}
<p><strong>ACCREDITATION:</strong> This activity has been planned and implemented in accordance with the Essential Areas and policies of the Accreditation Council for Continuing Medical Education through the joint sponsorship of the George Washington University School of Medicine and Health Sciences and the Physicians Committee for Responsible Medicine. The George Washington University School of Medicine and Health Sciences is accredited by the ACCME to provide continuing medical education for physicians.</p><p><strong>CME CREDIT:</strong> The George Washington University School of Medicine and Health Sciences designates this online continuing medical education activity for a maximum of <em>{{ referencing_entity.field_credits.0.value }} AMA Physician Recognition Award Category 1 Credits</em>&trade;.</p><p><img alt="Leticia Hall-Salam signature" src="https://nutritioncme.org/sites/default/files/pictures/hallSalamSig.png"><br><strong>Leticia Hall-Salam</strong><br>Director, Office of Continuing Education in the Health Professions</p>
{% endif %}

</div>

